*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --vermelho: #E50914;
    --preto: #141414;
}

body {
    background-color: var(--preto);
    font-family: 'Times New Roman', Times, serif;
}

#logotitle {
    color: var(--vermelho);
    font-size: 40px;
    margin: 15px 0 0 15px;
}

header .container {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}